
@font-face {
    font-family: OCRBfont;
    src: url(assets/fonts/OCBR.otf);
}

.command-line {
    font-family: OCRBfont;
    color: #4bee00;
    font-size: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.command-line-main {
    min-height: 80vh;
    width: 100%;
}

.command-line p, li {
    color: #4bee00;
    margin-top: 0px;
    margin-bottom: 0px;
}

.command-line li {
    font-style: italic;
}

.command-line ul {
    margin-top: 2px;
    margin-bottom: 2px;
}

.command-line button, a {
    color: #88ff88;
    border: 0px;
    background: none;
    text-decoration: underline;
    padding-left: 0px;
    text-align: left;
}

.dropdown-item{
    color: #88ff88;
    text-decoration: underline;
}

.separatorL, .separatorR {
    width: 1%;
    height: 80vh;
    background-color: #282828;
}

.separatorL {
    float: left;
}

.separatorR {
    float: right;
}

.command-line .icon{
    border-width: 0px;
}

.command-line .image-large{
    height: 180px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.command-line .image-code{
    width: 35vw;
    height: auto;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.command-line .image-code-s{
    width: 25vw;
    height: auto;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.command-line img {
    border: #88ff88;
    border-width: 3px;
    border-style: solid;
    margin: 5px;
    height: 130px;
}


.dropdown-menu {
    text-align: -webkit-left;
    background-color: #000000;

    border-color: #303030;
    border-width: 3px;
    border-radius: 0px;
    margin-top: 20px;
}

/* container for the 3D model*/
#threeContainer {
    height: 80vh;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #282828;
}

.three-container {
    background-color: #282828;
}

@media (min-width: 768px){
    .command-line {
        font-size: 14px;
    }

    .command-line .image-large{
        height: 250px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .command-line img {
        height: 175px;
    }

}

@media (min-width: 992px){
    .command-line {
        font-size: 18px;
    }

    .command-line .image-large{
        height: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .command-line img {
        height: 200px;
    }
}
