/* CSS Rules for Lab 1 using Bootstrap.  Note, these rules are laid out mobile first.  
	That is, the smaller screen rules are shown first

    Note, that CSS rule will propoagte up to larger devices, unless you modify them with a 
    media query and change the rule
*/

/* Method to declare your own fonts */
@font-face {
    font-family: OCRBfont;
    src: url(assets/fonts/OCBR.otf);
}


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

body, html {
    height: 100%;
}

body {
    background-color: black;
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
	font-family: OCRBfont;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif; 
	font-family: OCRBfont;
}

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #eb9a91;
    margin-top: 20px;
}

.dropdown-menu
.dropdown-item {
    color: #f1ee08;
}

.dropdown-menu
.dropdown-item:hover {
    color: #030303;
    background-color: #e98074;
}

.footer {
    color: #FFF;
    background-color: #760003;
    height: 50px;
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    font-size: 12px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
    text-decoration: none;
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-size: 30px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 2px;
    }

.logo h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
    }

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    }

.logo p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -20px;
    padding-top: 40px;
    padding-left: 12px;
}



@media (min-width: 576px) {

    #main_3d_image {
        background-image: url(assets/images/main_3D_768.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(202, 181, 181);
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #257600;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
        text-decoration: none;
    }

    .navbar-text > p {
        font-size: 12px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

}

/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {

    #main_3d_image {
        background-image: url(assets/images/main_3D_970.jpg);
        background-repeat: no-repeat;
        height: 363px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 148);
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }
    
    /* ++++++++++++++++++++++++++LOGO+++++++++++++++++++++++*/
    
    /* CSS rule to style the mobile logo */

    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-size: 40px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 2px;
    }

    .logo h2 {
        font-size: 30px;
        margin-top: 11px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 31px;
        margin-top: 5px;
        margin-bottom: 3px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 16px;
        margin-top: 47px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 16px;
    }

    .footer {
        background-color: #b890b1;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
        text-decoration: none;
    }

    .navbar-text > p {
        font-size: 16px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) { 

    #main_3d_image {
        background-image: url(assets/images/main_3D_1400a.jpg);
        background-repeat: no-repeat;
        height: 500px;
    }

    #main_text {
        float: right;
        margin-top: 20%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(185, 185, 178);
    }

    .logo {
        margin-top: 7px;
    }

    .logo h1 {
        font-size: 60px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -20px;
        float: left;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 0px;
    }

    .logo h2 {
        font-size: 45px;
        margin-top: 16px;
        margin-bottom: -20px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 6px;
        float: left;
    }

    .logo h3 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 23px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-left: 12px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: grey;
        height: 75px;
    }

    .navbar-text > a {
        font-size: 15px;
    }

    .navbar-text > p {
        font-size: 23px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}
